@{
    ViewBag.Title = "Xác nhận tài khoản thành công";
}

<div class="container main-body">
    <div class="jumbotron">
        <p>
            Cảm ơn bạn đã xác nhận email. @Html.ActionLink("Bấm vào đây để đăng nhập.", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
