@{
    ViewBag.Title = "Xác nhận reset mật khẩu";
}

<div class="container main-body">
    <div class="jumbotron">
        <p>Chúng tôi đã gửi email xác nhận tới hộp thư của bạn.</p>
        <p>Bấm vào <a class="btn-main btn-lg" href="/Home/Index" role="button">đây</a> để về trang chủ.</p>
    </div>
</div>
	
