@{
    ViewBag.Title = "Reset mật khẩu thành công";
}

<div class="container main-body">
    <div class="jumbotron">
        <p>
            Mật khẩu của bạn đã được reset. @Html.ActionLink("Bấm vào đây để đăng nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
        </p>
    </div>
</div>