@{
    ViewBag.Title = "Thông tin shop";
}

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container jumbotron">
        <div class="row">
            <ul>
                <li><b>Địa chỉ:</b> Nguyễn Văn Cừ Q.5 TP.HCM</li>
                <li><b>Số điện thoại:</b> 0128 222 2332</li>
                <li><b>Giờ làm việc:</b> 8h - 17h</li>
            </ul>
        </div>
    </div>
</div>

<script>
    $('.active').removeClass('active');
    $('#nav-item-3').addClass('active');
</script>