
@{
    ViewBag.Title = "Details";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2><b>Chi tiết sản phẩm</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="single-sidebar">
                    <h2 class="sidebar-title">Tìm kiếm sản phẩm</h2>
                    <form action="">
                        <input type="text" placeholder="Nhập từ khóa...">
                        <input type="submit" value="Tìm">
                    </form>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Sản phẩm</h2>
                    <div class="thubmnail-recent">
                        <img src="/Images/asus-z97-a.jpg" class="recent-thumb" alt="">
                        <h2><a href="">ASUS Z97-A</a></h2>
                        <div class="product-sidebar-price">
                            <ins>3,789,984 VND</ins> <del>3,959,000 VND</del>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/Images/i5-4460.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Intel Core i5-4460 3.1GHz (3.4GHz Turbo Boost)</a></h2>
                        <div class="product-sidebar-price">
                            <ins>4,229,984 VND</ins>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/Images/asus-gtx-750ti.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Asus Nvidia GTX 750 Ti Strix Edition 2GB (128 Bit) DDR5</a></h2>
                        <div class="product-sidebar-price">
                            <ins>3,599,992 VND</ins>
                        </div>
                    </div>
                    <div class="thubmnail-recent">
                        <img src="/Images/asus-gtx-970.jpg" class="recent-thumb" alt="">
                        <h2><a href="">Asus Nvidia GTX 970 Strix Edition 4GB (256 Bit) DDR5</a></h2>
                        <div class="product-sidebar-price">
                            <ins>8,699,988 VND</ins>
                        </div>
                    </div>
                </div>

                <div class="single-sidebar">
                    <h2 class="sidebar-title">Gần đây</h2>
                    <ul>
                        <li><a href="">SteelSeries Kinzu V2</a></li>
                        <li><a href="">SSD Samsung 840 EVO 250GB - True Speed Sata 3</a></li>
                        <li><a href="">AOC I2360SD LED - AH-IPS Full HD LCD</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-8">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="">Trang chủ</a>
                        <a href="">Chuột</a>
                        <a href="">SteelSeries Kinzu V2</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img src="/Images/ss-kinzu-v2.jpg" alt="">
                                </div>

                                <div class="product-gallery">
                                    <img src="/Images/ss-kinzu-v2-2.jpeg" alt="">
                                    <img src="/Images/ss-kinzu-v2-3.jpeg" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="product-inner">
                                <h2 class="product-name">SteelSeries Kinzu V2</h2>
                                <div class="product-inner-price">
                                    <ins>400,000 VND</ins>
                                </div>

                                <form action="" class="cart">
                                    <div class="quantity">
                                        <input type="number" size="4" class="input-text qty text" title="Số lượng" value="1" name="quantity" min="1" step="1">
                                    </div>
                                    <button class="add_to_cart_button" type="submit">Thêm vào giỏ hàng</button>
                                </form>

                                <div class="product-inner-category">
                                    <p>Category: <a href="">Chuột</a>. Tags: <a href="">kinzu</a>, <a href="">v2</a>, <a href="">white</a>, <a href="">yellow</a>. </p>
                                </div>

                                <div role="tabpanel">
                                    <ul class="product-tab" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Mô tả</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Đánh giá</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                                            <h2>Product Description</h2>
                                            <h4>THE BASICS</h4>
                                            <p>Designed to deliver only what you need to dominate the competition.</p>
                                            <h4>COMPACT & LIGHTWEIGHT</h4>
                                            <p>Delivers a consistent performance in a compact, 4-button design.</p>
                                            <h4>AMBIDEXTROUS</h4>
                                            <p>Finely engineered shape suits all grips to ensure maximum control and comfort.</p>
                                            <h4>TOGGLE ON-THE-FLY</h4>
                                            <p>CPI toggle for on-the-fly high/low sensitivity adjustments.</p>
                                            <h4>COUNTS PER INCH</h4>
                                            <p>Scalable pointer speed up 3200 in increments of 400, 800, 1600 and 3200 CPI.</p>
                                            <h4>GLIDES</h4>
                                            <p>Featuring High Performance PTFE material for a low-friction glide.</p>
                                            <h4>DOUBLE BRAIDED CORD</h4>
                                            <p>Improved durability and tangle-free via its double braided nylon cord.</p>
                                            <h4>THE STEELSERIES ENGINE</h4>
                                            <p>Program your buttons, optimize your sensitivity, and create unlimited profiles.</p>


                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="profile">
                                            <h2>Đánh giá</h2>
                                            <div class="submit-review">
                                                <p><label for="name">Tên</label> <input name="name" type="text"></p>
                                                <p><label for="email">Email</label> <input name="email" type="email"></p>
                                                <div class="rating-chooser">
                                                    <p>Đánh giá của bạn</p>

                                                    <div class="rating-wrap-post">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                </div>
                                                <p><label for="review">Bình luận</label> <textarea name="review" id="" cols="30" rows="10"></textarea></p>
                                                <p><input type="submit" value="Gửi"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Related Products</h2>
                        <div class="related-products-carousel">
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="/Images/razer-da.png" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Chi tiết</a>
                                    </div>
                                </div>

                                <h2><a href="single-product.html">Razer DeathAdder 2013 Couter Logic - Gaming Optical Mouse</a></h2>

                                <div class="product-carousel-price">
                                    <ins>849,992 VND</ins>
                                </div>
                            </div>
                            <div class="single-product">
                                <div class="product-f-image">
                                    <img src="/Images/razer-mamba.jpg" alt="">
                                    <div class="product-hover">
                                        <a href="#" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i> Thêm vào giỏ hàng</a>
                                        <a href="single-product.html" class="view-details-link"><i class="fa fa-link"></i> Chi tiết</a>
                                    </div>
                                </div>

                                <h2><a href="single-product.html">Razer Mamba 4G 6400DPI Laser Gaming Mouse</a></h2>
                                <div class="product-carousel-price">
                                    <ins>2, 200, 000</ins>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


