@model GalaxyComputersASP.Models.PartialIndexViewModel

@{
    ViewBag.Title = "Sản phẩm";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2><b>Sản phẩm</b></h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container main-body">
    <div class="form-inline">
        <div class="form-group">
            <label for="sortItem">Số sản phẩm 1 trang: </label>
            <select class="form-control" id="itemsPerPage" name="itemsPerPage">
                <option value="5">5</option>
                <option selected value="10">10</option>
            </select>
        </div> |
        <div class="form-group">
            <label for="sortItem">Sắp xếp theo: </label>
            <select class="form-control" id="sortItem" name="sortItem">
                <option value="-1">Chọn</option>
                <option value="0">Tên</option>
                <option value="1">Giá</option>
            </select>
        </div> |
        <div class="form-group">
            <label for="sortOrder">Thứ tự: </label>
            <select class="form-control" id="sortOrder" name="sortOrder">
                <option value="0">Tăng dần</option>
                <option value="1">Giảm dần</option>
            </select> |
        </div>
        <button type="button" id="btnUpdate">Cập nhật</button>
    </div>
 
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>

    <div id="products-view">
        @Html.Partial("~/Views/Products/PartialIndex.cshtml", Model)
    </div>
</div>

<script>
    $(document).ready(function () {
        $('.spinner').hide();
    })
    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
    
    $('#btnUpdate').click(function (e) {
        $('#products-view').hide();
        $('.spinner').show();
        var catId = getParameterByName('CategoryID');
        var action = "PartialIndex";
        if (catId != null) {
            action += "?CategoryID=" + catId + "&ItemsPerPage=" + $('#itemsPerPage').val();
        }
        $.ajax({
            url: '/Products/' + action,
            type: 'POST',
            data: {
                'sortItem': $('#sortItem').val(),
                'sortOrder': $('#sortOrder').val()
            },
            success: function (result) {
                $('#products-view').show();
                $('.spinner').hide();
                $('#products-view').html(result);
            }
        })
    });
</script>

<script>
    
    $('#nav-item-2').addClass('active');
</script>
