@model GalaxyComputersASP.Models.Category

@{
    ViewBag.Title = "Delete";
}

<div class="container main-body">
    <h2>Xóa danh mục</h2>

    <h3>Bạn có chắc là muốn xóa danh mục này?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dd>
                Bạn cũng sẽ xóa tất cả sản phẩm thuộc danh mục này.
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-group col-md-offset-2">
                <input type="submit" value="Xóa" />
                <a href='@Url.Action("Index", "Admin")' class="btn-blank">Quay về</a>
            </div>
        }
    </div>
</div>

<script>
    
    $('#nav-item-4').addClass('active');
</script>
