
@{
    ViewBag.Title = "Thanh toán thành công";
}

<div class="container main-body">
    <div class="jumbotron">
        <h1>Thành công!</h1>
        <p>Bạn đã hoàn tất việc thanh toán. Đơn hàng sẽ được xử lý trong thời gian sớm nhất.</p>
        <p>Bấm vào <a class="btn-main btn-lg" href="/Shopping/Orders" role="button">đây</a> để xem lịch sử đặt hàng.</p>
        <p>Bấm vào <a class="btn-main btn-lg" href="/Home/Index" role="button">đây</a> để về trang chủ.</p>
    </div>
</div>
